
@model Movie

@{
    ViewData["Title"] = "Home Page";
}

<!-- Add a reference to the jQuery library -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<style>
    body {
        background-color: #F7DC6F;
    }

    .jumbotron {
        background-color: #2980B9;
        color: white;
        text-align: center;
        padding: 100px;
        border-radius: 30px;
        box-shadow: 15px 15px 10px black;
    }

        .jumbotron h1 {
            font-size: 4rem;
            font-weight: bold;
            margin-bottom: 50px;
        }


    #generateMovie:hover {
        transform: scale(1.25);
    }

    .hidden {
        display: none;
    }

    #generatingMessage {
        padding-top: 25px;
    }
</style>

<div class="jumbotron">
    <h1>What Movie Should You Watch Next?</h1>
    <p>Press the clapper to find out!</p>
    <form method="get" action="@Url.Action("Index", "Movie")" id="movieForm">
        <img src="~/images/clapperboard.jpg" alt="Generate Movie" id="generateMovie" style="cursor: pointer; width: 100px; height: 100px;" />
        <p id="generatingMessage" class="hidden">Generating your next movie...</p>
    </form>
</div>

<!-- Add JavaScript code to handle button click and form submission -->
<script>$(document).ready(function () {
        $("#generateMovie").on("click", function () {
            $("#generatingMessage").removeClass("hidden");
            setTimeout(function () {
                $('#movieForm').submit();
            }, 1000);
        });
    });</script>

