
@model Movie

@{
    ViewData["Title"] = "Home Page";
}

<!-- Add a reference to the jQuery library -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<style>
    body {
        background-color: #F7DC6F;
    }

    .jumbotron {
        background-color: #2980B9;
        color: white;
        text-align: center;
        padding: 100px;
        border-radius: 30px;
        box-shadow: 15px 15px 10px black;
    }

        .jumbotron h1 {
            font-size: 4rem;
            font-weight: bold;
            margin-bottom: 50px;
        }

    .btn-film {
        background-color: #E74C3C;
        color: white;
        font-size: 2rem;
        border-radius: 50%;
        padding: 50px;
        margin: 50px;
        box-shadow: 15px 15px 10px black;
        transition: all 0.2s ease-in-out;
    }

        .btn-film:hover {
            transform: rotate(360deg);
        }

    .hidden {
        display: none;
    }
</style>

<div class="jumbotron">
    <h1>What Movie Should You Watch Next?</h1>
    <p>Press the button to find out!</p>

    <form method="get" action="@Url.Action("Index", "Movie")" id="movieForm">
        <button type="button" class="btn-film" id="generateMovie">
            <i class="fa fa-film"></i>
        </button>
        <p id="generatingMessage" class="hidden">Generating your next movie...</p>
    </form>
</div>

<!-- Add JavaScript code to handle button click and form submission -->
<script>
    $(document).ready(function () {
        $("#generateMovie").on("click", function () {
            $("#generatingMessage").removeClass("hidden");
            setTimeout(function () {
                $('#movieForm').submit();
            }, 1000);
        });
    });
</script>

